In [2]:
from aws_utils import read_csv_as_dataframe
import pandas as pd
pd.set_option('display.max_colwidth', -1)

In [2]:
website="olx"
location="warszawa"
#Metadata
BUCKET= f's3://data-apartments/production/{website}/{location}/'
df = read_csv_as_dataframe(bucket_path=BUCKET, filename=f'{website}_db.csv', timestamp_column_name='downloaded')
df.head()

,downloaded,url,short_description,district,area,rooms,price_per_m,price,owner,item_id,tracking_id
0,2019-04-18,https://www.olx.pl/oferta/bezposrednio-5p-ursynow-1-min-do-metra-stoklosy-premium-lokalizacja-CID3-IDzzhKP.html#e613ee2254;promoted,Bezpośrednio 5p. Ursynów - 1 min do metra Stokłosy-PREMIUM LOKALIZACJA,Ursynów,116.0,4.0,13232.0,1535.0,Osoby prywatnej,525581491,NaN
1,2019-04-18,https://www.olx.pl/oferta/sprzedam-CID3-IDnqhVu.html#7f651eb8e2,Sprzedam,Mokotów,50.0,2.0,9900.0,495000.0,Osoby prywatnej,346121230,NaN
2,2019-04-18,https://www.olx.pl/oferta/mieszkanie-warszawa-ursus-58m2-CID3-IDz57jd.html#82f03ea1b6;promoted,Mieszkanie Warszawa Ursus 58m2,Ursus,58.0,3.0,6896.0,400000.0,Osoby prywatnej,518391499,NaN
3,2019-04-18,https://www.olx.pl/oferta/sprzedaz-mieszkania-CID3-IDz7B77.html#82f03ea1b6,Sprzedaż mieszkania,Bemowo,45.0,2.0,8515.0,390000.0,Osoby prywatnej,518982725,NaN
4,2019-04-18,https://www.olx.pl/oferta/scisle-centrum-15-pietro-3-pokoje-metro-bezposrednio-CID3-IDznqb3.html#d69fe08437;promoted,ŚCISŁE CENTRUM ! 15 piętro !! 3 pokoje !!! METRO !! BEZPOŚREDNIO !,Śródmieście,50.0,3.0,12980.0,649000.0,Osoby prywatnej,522753933,NaN

# Otodom

In [ ]:
downloaded = pd.Timestamp(2019, 4, 22)
df.query('district == "Targówek" and area > 35 and price < 250000').sort_values(by=['price', 'downloaded'],
                                                                                          ascending=[True, False]).head()

# Gumtree

In [3]:
downloaded = pd.Timestamp(2019, 4, 22)
df.query('district == "Bielany" and area < 45 and owner == "Właściciel"').sort_values(by=['price', 'downloaded'],
                                                                                          ascending=[True, False]).head()

Empty DataFrame
Columns: [downloaded, url, short_description, district, area, rooms, price_per_m, price, owner, item_id, tracking_id]
Index: []

# Olx

In [ ]:
downloaded = pd.Timestamp(2019, 4, 22)
df.query('district == "Bielany" and area < 45 and owner == "Osoby prywatnej"').sort_values(by=['price', 'downloaded'],
                                                                                          ascending=[True, False])

In [ ]:
df.head()

In [3]:
df = pd.DataFrame({"a": [1,2,3], "b": [4,5,6]})
df

   a  b
0  1  4
1  2  5
2  3  6

In [ ]:
def read_csv_as_dataframe(bucket_path: str, filename: str, timestamp_column_name: str = None) -> pd.DataFrame:
    """
    Reads s3 csv file as DataFrame.
    :param filename: name of the file that will be appended
    :param bucket_path: absolute s3 path
    :param timestamp_column_name: name of the timestamp column
    :return: csv file read as pandas DataFrame
    """
    # Use environmental permissions to authorize
    fs = s3fs.S3FileSystem(anon=False)
    # Read aggregated stored file
    df = pd.read_csv(bucket_path + filename, parse_dates=[timestamp_column_name])
    return df


def save_dataframe_to_s3_as_csv(df: pd.DataFrame, filename: str, bucket_path: str) -> None:
    """
    Saves DataFrame to s3 as csv file.
    :param df: dataframe that will be saved
    :param filename: name of the file that will be saved
    :param bucket_path: absolute s3 path
    :param date: date that will be added to the name of the file
    :return: None
    """
    # Encode DataFrame to bytes
    bytes_to_write = df.to_csv(None, index=False).encode()
    # Use environmental permissions to authorize
    fs = s3fs.S3FileSystem(anon=False)
    # Create write string
    write_str = bucket_path + filename
    with fs.open(write_str, 'wb') as f:
        try:
            f.write(bytes_to_write)
            print(f"{filename} was written to {write_str}")
            return None
        except:
            print(f"There was a problem with writing {filename} to {write_str}.")
            return None